@charset "UTF-8";
/**
 * 
 * @authors Bryan (you@example.org)
 * @date    2016-03-19 21:43:06
 * @version $Id$
 */
* {
	margin: 0;
	padding: 0;
}

.container{
	margin: 0 auto;
	width: 1000px;
}

.left-side {
	height: 900px;
	width: 200px;
	float: left;
	background-color: #ccc;
}

.center {
	height: 900px;
	width: 500px;
	float: left;
	background-color: #ddd;
}

.right-side{
	height: 900px;
	width: 300px;
	float: right;
	background-color: #eee;
}